:root {
  --el-color-primary: #ffffff;
  --el-text-color-primary: #cccccc;
  --el-fill-color-blank: #252526;

  --el-color-primary-light-9: #37373d;
  --el-menu-item-height: 36px;
  --el-menu-item-font-size: 12px;
}

.el-menu-item {
  span {
    font-weight: 550
  }
}

.el-menu-item.is-active {
  background-color: var(--el-menu-hover-bg-color)
}