/* Color */
$white: #ffffff;
$light-white: #cccccc;
$gray: #3c3c3c;
$dark-gray: #333333;
$light-dark: #252526;

$primary-blue: #007acc;

$footer-font-color: #dddddd;
/* Variable */
$nav-height: 35px;
$nav-bg-color: $gray;

$side-main-menu-width: 50px;
$side-sub-menu-width: 280px;

$footer-height: 24px;
